html {
  min-width: 320px;
  min-height: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  color: #172038;
  background: #f4f7fc;
  font-family:
    Inter,
    Arial,
    Helvetica,
    sans-serif;
}

#root {
  min-height: 100vh;
}
